.linearG{
  height: 35vh; 
  background-image: url('https://images5.alphacoders.com/738/738674.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-10vh;
}

.linearG:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}
