.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.desktop .div {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
}

.desktop .overlap-group {
  height: 664px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.desktop .imagen-fondo {
  height: 378px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
}

.desktop .text-wrapper {
  color: #d5c25d;
  font-family: "Lalezar-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
}


.desktop .button {
  all: unset;
  align-items: center;
  color: white;
  background-color: #0000008f;
  border: 2px solid;
  border-color: #e3e570;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 54px;
  justify-content: center;
  padding: 12px 24px;
  position: absolute;
  top: 243px;
  width: 314px;
}

.desktop .button-2 {
  all: unset;
  box-sizing: border-box;
  color: #ccd787;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .proveedor {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: absolute;
  top: 115px;
}

.desktop .rectangle {
  background-color: #d5c25d;
  box-shadow: 0px 4px 4px #00000040;
  height: 549px;
  position: relative;
  width: 530px;
}

.desktop .imagen {
  height: 440px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 530px;
}

.desktop .titulo-experiencia {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 450px;
  width: 414px;
}

.desktop .informacion-basica {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 424px;
}

.desktop .frame {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 60px;
  padding: 10px 0px;
  position: relative;
  width: 420px;
}

.desktop .text-wrapper-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: 420px;
}

.desktop .pepicons-pencil {
  height: 34px;
  left: 126px;
  position: absolute;
  top: 424px;
  width: 34px;
}

.desktop .octicon-person {
  height: 34px;
  left: 126px;
  position: absolute;
  top: 484px;
  width: 34px;
}

.desktop .formkit-time {
  height: 34px;
  left: 126px;
  position: absolute;
  top: 544px;
  width: 34px;
}

.desktop .codicon-settings {
  height: 34px;
  left: 126px;
  position: absolute;
  top: 604px;
  width: 34px;
}

.desktop .texto-experiencia {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: justify;
  width: 530px;
}

.desktop .overlap {
  height: 462px;
  position: absolute;
  width: 460px;
}

.desktop .imagen-SE {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 42px;
  
}

.desktop .rectangle-2 {
  border: 4px solid;
  border-color: #000000;
  height: 420px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 420px;
}

.desktop .p {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 869px;
  width: 420px;
}

.fondo-p {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.fondo-p .imagen-p {
  height: 100dvh;
  width: 100vw;
  position: relative;
}

@media (max-width: 1500px){
  .desktop .proveedor {
    display: none;
  }
  .desktop .rectangle-2{
    display: none;
  }
  .desktop .texto-experiencia {
    top: 1097px;
    left: 10vw;
    right: 10vw;
    width: 80vw;
  }
  .desktop .imagen-SE{
    height: 320px;
    width: 100vw;
  }
  .desktop .p {
    display: none;
  }
  .desktop .overlap {
    top: 700px;
  }
  .desktop .div{
    height: 1500px;
  }
}

@media (min-width: 1500px){
  .desktop .div{
    height: 2000px;
  }
  .desktop .texto-experiencia {
    top: 997px;
    right: 15vw;
  }
  .desktop .p {
    right: 15vw;
  }
  .desktop .overlap {
    top: 838px;
    left: 15vw;
  }
  .desktop .imagen-SE{
    height: 420px;
  }
  .desktop .imagen-SE{
    width: 420px;
  }
}


@media (max-width: 1000px){
  
  .fondo-p .horizontal-p {
    display: none;
  }
  .fondo-p .se-parte-de {
    display: none;
  }
  .desktop .text-wrapper {
    left: 10vw;
  }
  .desktop .button {
    left: 10vw;
  }
  .desktop .informacion-basica {
    left: 14vw;
  }
  .desktop .pepicons-pencil {
    left: 6vw;
  }
  .desktop .octicon-person {
    left: 6vw;
  }
  .desktop .formkit-time {
    left: 6vw;
  }
  .desktop .codicon-settings {
    left: 6vw;
  }

}

@media (min-width: 1000px){
  
  .fondo-p .form-p {
    left: 400px;
  }
  .desktop .text-wrapper {
    left: 15vw;
  }
  .desktop .button {
    left: 15vw;
  }
  .desktop .proveedor {
    right: 15vw;
  }
  .desktop .informacion-basica {
    left: 18vw;
  }
  .desktop .pepicons-pencil {
    left: 14vw;
  }
  
  .desktop .octicon-person {
    left: 14vw;
  }
  
  .desktop .formkit-time {
    left: 14vw;
  }
  
  .desktop .codicon-settings {
    left: 14vw;
  }
}

.fondo-p .horizontal-p {
  align-items: center;
  background-color: #d5c25dcc;
  display: flex;
  gap: 10px;
  height: 337px;
  left: 70px;
  padding: 10px 50px;
  position: absolute;
  top: 158px;
  width: 80vw;
}

.fondo-p .se-parte-de {
  color: #ffffff;
  font-family: "Kameron-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 260px;
  letter-spacing: 0;
  line-height: 50px;
  position: relative;
  width: 230px;
}



.fondo-p .form-p {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: absolute;
  top: 70px;
  background-image: url("./images/imagen-fondo-proveedor.png");
}